Universal Selector
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Img[alt="Logo"] {
    cursor: pointer;
    width:10rem;
    aspect-ratio: 1/1;  
}

h1:is(span){
    display: block;
}